
.statusbar {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    position: absolute;
    height: 22px;
    right: 1px;
    bottom: 1px;
    left: 2px;
}

.statusbar .tray {
    border-top: 1px solid #7f7f7f;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #7f7f7f;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 3px 2px 2px 0;
    padding: 1px;
    height: 15px;
}

.window-cdplayer-display:before,
.input-text:before,
.input-textarea:before,
.input-prompt:before,
.window-scroll-contents .window-form:after,
.pane-wrapper,
.textarea-wrapper,
.select-wrapper,
.input-url-wrapper,
.inset:before {
    border-top: 1px solid #7f787f;
    border-left: 1px solid #7f787f;
    border-bottom: 1px solid #fff8ff;
    border-right: 1px solid #fff8ff;
}

.pane-wrapper,
.textarea-wrapper {
    padding-right: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

.textarea-wrapper {
    padding-right: 6px;
    padding-bottom: 6px;
}

.window-cdplayer-display:before,
.input-text:before,
.input-textarea:before,
.input-prompt:before,
.window-scroll-contents .window-form:after,
.inset:before {
    /* Use border and positioning to simulate shadow effect. */
    content: " ";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
}

/* This is a workaround so that the shadow is outside the scrollable area.
 * This will only work for windows where a single control takes up the whole
 * window form (e.g. notepad, folder, prompt).
 */
.window-scroll-contents .window-form:after {
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
}

.select-wrapper .input-select {
    width: 100%;
}

.inset {
    margin: 0 1px;
    padding: 0 4px;
}

.window-cdplayer-display,
.input-text,
.input-url,
.browser-pane,
.input-textarea,
.input-select,
.input-prompt,
.window-folder-container,
.inset {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}

.input-text {
    padding: 1px 2px;
}

.input-text:focus,
.input-textarea:focus,
.input-url:focus,
.window-properties-tab-tab a:focus {
    outline: none;
}

/* Window: Notepad */

.window-notepad .input-textarea {
    position: relative;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: scroll;
}

/* Window: Command Prompt */

.window-command .input-prompt {
    background-color: black;
    color: #a0a0a0;
    font-family: fixedsys, 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    padding: 1px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.window-command .backbuffer {
    padding-left: 3px;
    white-space: pre;
}

.window-command .input-prompt .input-line-caret {
    padding-left: 3px;
}

.window-command .input-prompt .input-line-caret * {
    float: left;
    white-space: pre;
}

@keyframes caret-blink {
    50% { opacity: 0; }
}

.window-command .input-caret {
    background-color: white;    
    margin-top: 10px;
    width: 5px;
    height: 1px;
    float: left;
    animation: caret-blink 1s step-start infinite;
}

.window-command .input-textarea {
    width: 0;
    height: 0;
    opacity: 0;
}

/* Window: Folder */

.window-folder-container .statusbar .tray-objects {
    flex-grow: 2;
}

.window-folder-container .statusbar .tray-bytes {
    flex-grow: 1;
}

.window-folder-container {
    background-color: white;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    overflow: scroll;
}

/* Window: Browser */

.browser-toolbar {
    position: relative;
}

.browser-toolbar-left {
    position: absolute;
    top: 0;
    left: 0;
    right: 66px;
    bottom: 0;
}

.window-browser .window-form hr {
    margin: 0;
}

.window-browser .browser-buttons {
    margin: 0;
    padding: 3px 2px 0 7px;
}

.window-browser .browser-buttons button {
    width: 18px;
    height: 18px;
}

.window-browser .pane-wrapper {
    top: 52px;
}

.window-browser .browser-pane {
    width: 100%;
    height: 100%;
}

.window-browser .url-bar {
    font-size: 12px;
    line-height: 22px;
    display: flex;
    padding: 2px 2px 0 5px;
    position: relative;
    height: 20px;
}

.window-browser .input-url-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 4px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.window-browser .input-url {
    position: relative;
    height: 14px;
}

.window-browser .statusbar .tray-status-text {
    flex-grow: 5;
}

.window-browser .statusbar .tray-misc {
    flex-grow: 2;
}

.window-browser .statusbar .tray-status-icon {
    flex-grow: 1;
}

/* Window: Properties */

/* Tab panes have a slightly different chiseled pattern. */
button:before,
.window-properties-tab-pane:before,
.window-properties-tab-tab a:before {
    content: " ";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-top: 1px solid #fff8ff;
    border-left: 1px solid #fff8ff;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: -1;
}

button,
.window-properties-tab-pane,
.window-properties-tab-tab a {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid #dfd8df;
    border-left: 1px solid #dfd8df;
    border-right: 1px solid #7f787f;
    border-bottom: 1px solid #7f787f;
    background-color: #bfbfbf;
    position: relative;
    padding: 1px;
}

.window-properties-tabs {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 390px;
    height: 380px;
}

.window-properties-tabs ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    z-index: 20;
}

.window-properties-tab-tab {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.window-properties-tab-tab a:before {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.window-properties-tab-tab a {
    color: black;
    line-height: 10px;
    text-decoration: none;
    border-bottom: 1px solid white;
    border-radius: 3px 3px 0 0;
    display: block;
    margin: 0 1px 0 2px;
    padding: 3px 7px;
}

.window-properties-tabs > ul > li.ui-tabs-active a:before {
    border-bottom: 2px solid #bfbfbf;
}

.window-properties-tabs > ul > li.ui-tabs-active a {
    line-height: 14px;
    border-bottom: none;
    margin: 0 0 -1px 0;
    padding: 3px 9px;
}

.window-properties-tab-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 10;
}

.window-properties-buttons {
    width: 100%;
}

.window-properties-buttons button {
    margin-right: 8px;
    width: 70px;
    height: 20px;
    float: right;
}

/* Window: CD Player */

.window-cdplayer-controls-row {
    display: flex;
    position: relative;
    margin-top: 8px;
    width: 100%;
}

.window-cdplayer-display {
    background: black;
    color: #808000;
    font-size: 24px;
    line-height: 47px;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    padding-left: 25px;
    width: 129px; /* -25 for padding. */
    height: 47px;
}

.window-cdplayer-controls {
    display: inline-block;
    margin-left: 8px;
    width: 120px;
    height: 50px;
}

.window-cdplayer-controls div {
    display: flex;
}

.window-cdplayer-controls-play-pause-stop {
    font-family: serif;
}

.window-cdplayer-controls-tracks-eject {
    margin-top: 12px;
}

.window-cdplayer-controls button {
    line-height: 14px;
    text-align: center;
    flex-grow: 1;
    height: 18px;
}

.window-cdplayer-controls .button-play {
    flex-grow: 3;
}

.window-cdplayer-drops {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    margin: 4px 8px;
}

.window-cdplayer-drops .wrapper {
    display: flex;
    position: relative;
    margin-bottom: 4px;
}

.window-cdplayer-drops label {
    text-align: right;
    margin-right: 5px;
    width: 35px;
}

.window-cdplayer-drops .select-wrapper,
.window-cdplayer-drops .inset {
    flex-grow: 5;
    position: relative;
}
