
html, body {
    background-color: #00787f;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Common Effects */

.window-outer, .menu-outer {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #bfbfbf;
}

.window-inner, .menu-inner {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid #fff8ff;
    border-left: 1px solid #fff8ff;
    border-right: 1px solid #7f787f;
    border-bottom: 1px solid #7f787f;
    position: relative;
    padding: 1px;
}

/* Windows */

.window-outer {
    position: absolute;
    display: inline-flex;
    margin: 0;
    padding: 0;
    z-index: 20;
}

.window-inner {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 100px;
}

.window-outer .ui-resizable-se {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
}

.titlebar {
    /* Flex so that title text can grow. */
    display: flex;
    position: relative;
    margin: 0 0 1px 0;
    padding: 0;
    height: 18px;
}

.titlebar-icon {
    display: inline-block;
    position: relative;
    margin: 1px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.titlebar-text {
    font-family: Microsoft Sans Serif, MS Sans Serif, sans-serif;
    font-size: 12px; /* Rare text sizing in pixels for accuracy. */
    line-height: 18px;
    display: inline-block;
    position: relative;
    margin: 0 3px;
    padding: 0;
    height: 18px;
    flex-grow: 1;
}

.window-active .titlebar {
    background-color: #00007f;
    color: white;
}

.window-inactive .titlebar {
    background-color: #7f787f;
}

.titlebar-close {
    width: 14px;
    height: 14px;
    margin: 2px;
    padding: 0;
}

.window-form {
    position: relative;
    flex-grow: 1;
    padding-bottom: 4px; /* Compensate for 100% height. */
}

/* Controls */

.input-text-wrapper,
.input-textarea-wrapper,
.input-select-wrapper,
.window-folder-wrapper {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid #7f787f;
    border-left: 1px solid #7f787f;
    border-bottom: 1px solid #fff8ff;
    border-right: 1px solid #fff8ff;
}

.input-text-wrapper input,
.input-textarea-wrapper textarea,
.input-textarea-wrapper select,
.window-folder-container {
    /* Use border and positioning to simulate shadow effect. */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}

.input-text-wrapper {
    display: inline-block;
    position: absolute;
}

.input-text-wrapper input {
    padding: 1px 2px;
}

.input-text-wrapper input:focus {
    outline: none;
}

/* Desktop */

#desktop {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.desktop-icon {
    display: inline-block;
    position: relative;
    padding: 0;
}

.desktop-icon-overlay {
    padding: 5px;
    position: absolute;
    left: -5px; /* Cover parent padding. */
    top: -5px; /* Cover parent padding. */
    width: 100%;
    height: 100%;
    z-index: 10;
}

.desktop-icon-img {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

.desktop-icon-text-center {
    display: table;
    margin: 0 auto;
    padding: 0;
}

.desktop-icon-text {
    color: white;
    font-family: Microsoft Sans Serif, MS Sans Serif, sans-serif;
    font-size: 12px; /* Rare text sizing in pixels for accuracy. */
    line-height: 12px;
    text-align: center;
    display: inline-block;
    margin: 5px 0 0 0;
}

.window-folder-container .desktop-icon-text {
    color: black;
}

.desktop-icon-selected .desktop-icon-text {
    background-color: #00007f;
    border: 1px dotted white;
    margin: 4px 0 0 0;
}

.desktop-icon-selected .desktop-icon-overlay {
    /* background: #00007f;
    opacity: 0.3; */
}

.window-folder .window-inner {
}

.window-folder-wrapper {
    position: relative;
    padding: 0 0 2px 0;
    height: 100%;
}

.window-folder-container {
    background-color: white;
    position: relative;
    height: 100%;
    overflow: scroll;
}

/* Menus */

.menu-outer {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 20;
}

.menu-inner {
    position: relative;
    padding: 1px;
}

.menu-item {
    color: black;
    font-family: Microsoft Sans Serif, MS Sans Serif, sans-serif;
    font-size: 12px; /* Rare text sizing in pixels for accuracy. */
    line-height: 16px;
    text-decoration: none;
    display: block;
    padding: 3px 18px;
    margin: 0 1px;
}

.menu-item-icon {
    line-height: 20px;
    padding: 3px 28px;
}

.menu-item:hover {
    background-color: #00007f;
    color: white;
}
